In [2]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import statsmodels.formula.api as smf
import seaborn as sns
from tqdm import tqdm
import zipfile
from collections import Counter

In [5]:
df = pd.read_parquet('links.parquet')
df

                                               raw_data
0     <!DOCTYPE html>\n<html class="client-nojs" lan...
1     <!DOCTYPE html>\n<html class="client-nojs" lan...
2     <!DOCTYPE html>\n<html class="client-nojs" lan...
3     <!DOCTYPE html>\n<html class="client-nojs" lan...
4     <!DOCTYPE html>\n<html class="client-nojs" lan...
...                                                 ...
3674  <!DOCTYPE html>\n<html class="client-nojs" lan...
3675  <!DOCTYPE html>\n<html class="client-nojs" lan...
3676  <!DOCTYPE html>\n<html class="client-nojs" lan...
3677  <!DOCTYPE html>\n<html class="client-nojs" lan...
3678  <!DOCTYPE html>\n<html class="client-nojs" lan...

[3679 rows x 1 columns]

In [2]:
url = 'https://awoiaf.westeros.org/index.php/List_of_characters'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'}
r = requests.get(url, headers = headers)
r.status_code

200

In [3]:
soup = BeautifulSoup(r.text)
text = soup.find_all('div', class_='mw-parser-output')
links = []
for elem in text[0].find_all('ul')[1:]:
    for name in elem.find_all('li'):
        links.append(name.a.get('href'))
links

['/index.php/A_certain_man',
 '/index.php/Abelar_Hightower',
 '/index.php/Abelon',
 '/index.php/Addam_of_Duskendale',
 '/index.php/Addam_Frey',
 '/index.php/Addam_Hightower',
 '/index.php/Addam_Marbrand',
 '/index.php/Addam_Osgrey',
 '/index.php/Addam_Rivers',
 '/index.php/Addam_Velaryon',
 '/index.php/Addam_Whitehead',
 '/index.php/Addison_Hill',
 '/index.php/Adrack_Humble',
 '/index.php/Adrian_Redfort',
 '/index.php/Adrian_Tarbeck',
 '/index.php/Adrian_Thorne',
 '/index.php/Aegon_Ambrose',
 '/index.php/Aegon_Blackfyre',
 '/index.php/Aegon_Frey_(son_of_Stevron)',
 '/index.php/Aegon_Frey_(son_of_Aenys)',
 '/index.php/Aegon_I_Targaryen',
 '/index.php/Aegon_II_Targaryen',
 '/index.php/Aegon_III_Targaryen',
 '/index.php/Aegon_IV_Targaryen',
 '/index.php/Aegon_V_Targaryen',
 '/index.php/Aegon_Targaryen_(son_of_Gaemon)',
 '/index.php/Aegon_Targaryen_(son_of_Aenys_I)',
 '/index.php/Aegon_Targaryen_(son_of_Jaehaerys_I)',
 '/index.php/Aegon_Targaryen_(son_of_Baelon)',
 '/index.php/Aegon_Targaryen_(son_of_Aerys_II)',
 '/index.php/Aegon_Targaryen_(son_of_Rhaegar)',
 '/index.php/Aegor_Rivers',
 '/index.php/Aelinor_Penrose',
 '/index.php/Aelor_Targaryen',
 '/index.php/Aelora_Targaryen',
 '/index.php/Aelyx_Targaryen',
 '/index.php/Aemma_Arryn',
 '/index.php/Aemon_Blackfyre',
 '/index.php/Aemon_Costayne',
 '/index.php/Aemon_Estermont',
 '/index.php/Aemon_Rivers',
 '/index.php/Aemon_Steelsong',
 '/index.php/Aemon_Targaryen_(son_of_Jaehaerys_I)',
 '/index.php/Aemon_Targaryen_(son_of_Viserys_II)',
 '/index.php/Aemon_Targaryen_(son_of_Maekar_I)',
 '/index.php/Aemond_Targaryen',
 '/index.php/Aenys_Blackfyre',
 '/index.php/Aenys_Frey',
 '/index.php/Aenys_I_Targaryen',
 '/index.php/Aerea_Targaryen',
 '/index.php/Aerion_Targaryen',
 '/index.php/Aerion_Targaryen_(son_of_Daemion)',
 '/index.php/Aeron_Greyjoy',
 '/index.php/Aerys_Targaryen_(son_of_Aegon)',
 '/index.php/Aerys_I_Targaryen',
 '/index.php/Aerys_II_Targaryen',
 '/index.php/Aerys_II_Targaryen%27s_last_mistress',
 '/index.php/Aethan',
 '/index.php/Aethan_Velaryon',
 '/index.php/Aethelmure',
 '/index.php/Aggar',
 '/index.php/Aggo',
 '/index.php/Aglantine',
 '/index.php/Agnes_Blackwood',
 '/index.php/Agramore_Cobb',
 '/index.php/Agrivane',
 '/index.php/Aladale_Wynch',
 '/index.php/Aladore_Florent',
 '/index.php/Alan_o%27_the_Oak',
 '/index.php/Alan_of_Rosby',
 '/index.php/Alan_Beesbury',
 '/index.php/Alan_Tarly',
 '/index.php/Alannys_Harlaw',
 '/index.php/Alaric_of_Eysen',
 '/index.php/Alaric_Stark',
 '/index.php/Alarra_Massey',
 '/index.php/Alarra_Stark',
 '/index.php/Alastor_Reyne',
 '/index.php/Alayaya',
 '/index.php/Alayne_Baelish',
 '/index.php/Alayne_Royce',
 '/index.php/Albar_Royce',
 '/index.php/Albett',
 '/index.php/Albin_Manwoody',
 '/index.php/Albin_Massey',
 '/index.php/Alchemist',
 '/index.php/Alebelly',
 '/index.php/Alec_Hunter',
 '/index.php/Alekyne_Florent',
 '/index.php/Alequo_Adarys',
 '/index.php/Alerie_Hightower',
 '/index.php/Alesander_Frey',
 '/index.php/Alesander_Staedmon',
 '/index.php/Alesandor_Torrent',
 '/index.php/Alester_II_Arryn',
 '/index.php/Alester_Florent',
 '/index.php/Alester_Norcross',
 '/index.php/Alester_Oakheart',
 '/index.php/Alester_Wynch',
 '/index.php/Alf_of_Runnymudd',
 '/index.php/Alfador',
 '/index.php/Alford',
 '/index.php/Alfred_Broome',
 '/index.php/Alfyn_Crowkiller',
 '/index.php/Alfyn_(septon)',
 '/index.php/Alia',
 '/index.php/Aliandra_Martell',
 '/index.php/Alicent_Hightower',
 '/index.php/Alios_Qhaedar',
 '/index.php/All-for-Joffrey',
 '/index.php/Alla_Tyrell',
 '/index.php/Allaquo',
 '/index.php/Allar',
 '/index.php/Allar_Deem',
 '/index.php/Allard_Royce',
 '/index.php/Allard_Seaworth',
 '/index.php/Alleras',
 '/index.php/Alliser_Thorne',
 '/index.php/Allyria_Dayne',
 '/index.php/Alton_Butterwell',
 '/index.php/Alton_Celtigar',
 '/index.php/Alton_Greyjoy',
 '/index.php/Alvyn_Sharp',
 '/index.php/Alyce',
 '/index.php/Alyce_Graceford',
 '/index.php/Alyn',
 '/index.php/Red_Alyn_of_the_Rosewood',
 '/index.php/Sour_Alyn',
 '/index.php/Alyn_Ambrose',
 '/index.php/Alyn_Ashford',
 '/index.php/Alyn_Blackwood',
 '/index.php/Alyn_Bullock',
 '/index.php/Alyn_Cockshaw',
 '/index.php/Alyn_Connington',
 '/index.php/Alyn_Estermont',
 '/index.php/Alyn_Frey',
 '/index.php/Alyn_Garner',
 '/index.php/Alyn_Haigh',
 '/index.php/Alyn_Hunt',
 '/index.php/Alyn_Marbrand',
 '/index.php/Alyn_Orkwood',
 '/index.php/Alyn_Stackspear',
 '/index.php/Alyn_Stokeworth',
 '/index.php/Alyn_Tarbeck',
 '/index.php/Alyn_Terrick',
 '/index.php/Alyn_Velaryon',
 '/index.php/Alynne_Connington',
 '/index.php/Alys_Arryn',
 '/index.php/Alys_Arryn_(wife_of_Rhaegel)',
 '/index.php/Alys_Beesbury',
 '/index.php/Alys_Frey',
 '/index.php/Alys_Harroway',
 '/index.php/Alys_Karstark',
 '/index.php/Alys_Karstark_(wife_of_Brandon)',
 '/index.php/Alys_Oakheart',
 '/index.php/Alys_Rivers',
 '/index.php/Alys_Stackspear',
 '/index.php/Alys_Stark',
 '/index.php/Alys_Stone',
 '/index.php/Alys_Turnberry',
 '/index.php/Alysane_Mormont',
 '/index.php/Alysanne_(daughter_of_Aegon_IV)',
 '/index.php/Alysanne_Blackwood',
 '/index.php/Alysanne_Bracken',
 '/index.php/Alysanne_Bulwer',
 '/index.php/Alysanne_Farman',
 '/index.php/Alysanne_Hightower',
 '/index.php/Alysanne_Lefford',
 '/index.php/Alysanne_Osgrey',
 '/index.php/Alysanne_Stark',
 '/index.php/Alysanne_Targaryen',
 '/index.php/Alysanne_Tarth',
 '/index.php/Alyse_Ladybright',
 '/index.php/Alyssa_Arryn',
 '/index.php/Alyssa_Blackwood',
 '/index.php/Alyssa_Royce',
 '/index.php/Alyssa_Targaryen',
 '/index.php/Alyssa_Velaryon',
 '/index.php/Alyx_Frey',
 '/index.php/Amabel',
 '/index.php/Amanda_Arryn',
 '/index.php/Amarei_Crakehall',
 '/index.php/Amarys',
 '/index.php/Amaury_Peake',
 '/index.php/Ambrode',
 '/index.php/Ambrose_Butterwell',
 '/index.php/Amerei_Frey',
 '/index.php/Amethyst_Empress',
 '/index.php/Amory_Lorch',
 '/index.php/Amos_Bracken',
 '/index.php/Andahar',
 '/index.php/Andar_Royce',
 '/index.php/Anders_Yronwood',
 '/index.php/Andrew_Estermont',
 '/index.php/Andrew_Tollett',
 '/index.php/Andrey_Charlton',
 '/index.php/Andrey_Dalt',
 '/index.php/Andrik',
 '/index.php/Andros_Brax',
 '/index.php/Androw_Ashford',
 '/index.php/Androw_Farman',
 '/index.php/Androw_Frey',
 '/index.php/Anguy',
 '/index.php/Annara_Farring',
 '/index.php/Anselm',
 '/index.php/Anson',
 '/index.php/Antario_Jast',
 '/index.php/Anya_Waynwood',
 '/index.php/Anya_Weatherwax',
 '/index.php/Archibald_Yronwood',
 '/index.php/Archon_of_Tyrosh_(War_of_the_Ninepenny_Kings)',
 '/index.php/Archon%27s_daughter_(Jaehaerys_I)',
 '/index.php/Ardrian_Celtigar',
 '/index.php/Aregelle_Stark',
 '/index.php/Areo_Hotah',
 '/index.php/Argella_Durrandon',
 '/index.php/Argilac_Durrandon',
 '/index.php/Argos_Sevenstar',
 '/index.php/Argoth_Stone-Skin',
 '/index.php/Argrave_the_Defiant',
 '/index.php/Arianne_Martell',
 '/index.php/Arianne_Tarth',
 '/index.php/Arlan_of_Pennytree',
 '/index.php/Arlan_I_Durrandon',
 '/index.php/Arlan_III_Durrandon',
 '/index.php/Arlan_V_Durrandon',
 '/index.php/Armen',
 '/index.php/Armen_Peake',
 '/index.php/Armistead_Vance',
 '/index.php/Armond_Caswell',
 '/index.php/Armond_Connington',
 '/index.php/Arnel',
 '/index.php/Arneld',
 '/index.php/Arnell',
 '/index.php/Arnold_Arryn',
 '/index.php/Arnolf_Karstark',
 '/index.php/Aron_Santagar',
 '/index.php/Arra_Norrey',
 '/index.php/Arrana_Stark',
 '/index.php/Arrec_Durrandon',
 '/index.php/Arron',
 '/index.php/Arron_Qorgyle',
 '/index.php/Arryk_(guard)',
 '/index.php/Arryk_Cargyll',
 '/index.php/Lord_Arryn_(father_of_Jeyne)',
 '/index.php/Arsa_Stark',
 '/index.php/Arson',
 '/index.php/Arstan_Selmy',
 '/index.php/Arthor_Celtigar',
 '/index.php/Arthor_Karstark',
 '/index.php/Arthor_Oakheart',
 '/index.php/Arthur_Ambrose',
 '/index.php/Arthur_Dayne',
 '/index.php/Arthur_Goodbrother',
 '/index.php/Artos_the_Strong',
 '/index.php/Artos_Flint',
 '/index.php/Artos_Stark',
 '/index.php/Artys_I_Arryn',
 '/index.php/Arwen_Upcliff',
 '/index.php/Arwood_Frey',
 '/index.php/Arwyn_Frey',
 '/index.php/Arwyn_Oakheart',
 '/index.php/Arya_Flint',
 '/index.php/Arya_Stark',
 '/index.php/Arys_Oakheart',
 '/index.php/Ash',
 '/index.php/Asha_Greyjoy',
 '/index.php/Ashara_Dayne',
 '/index.php/Lord_Ashford',
 '/index.php/Assadora_of_Ibben',
 '/index.php/Aubrey_Ambrose',
 '/index.php/Aubrey_Crakehall',
 '/index.php/Aurane_Waters',
 '/index.php/Aurion',
 '/index.php/Axel_Tully',
 '/index.php/Axell_Florent',
 '/index.php/Ayrmidon',
 '/index.php/Azor_Ahai',
 '/index.php/Azzak_zo_Ghazeen',
 '/index.php/Bael_the_Bard',
 '/index.php/Baelish_(hedge_knight)',
 '/index.php/Baelish_(lord)',
 '/index.php/Baelish_(sellsword)',
 '/index.php/Baela_Targaryen',
 '/index.php/Baelon_Targaryen_(son_of_Aerys)',
 '/index.php/Baelon_Targaryen_(son_of_Viserys_I)',
 '/index.php/Baelor_Blacktyde',
 '/index.php/Baelor_Hightower',
 '/index.php/Baelor_I_Targaryen',
 '/index.php/Baelor_Targaryen_(son_of_Daeron_II)',
 '/index.php/Black_Balaq',
 '/index.php/Balder',
 '/index.php/Baldric_I_Durrandon',
 '/index.php/Baldrick',
 '/index.php/Balerion_Otherys',
 '/index.php/Ballabar',
 '/index.php/Balman_Byrch',
 '/index.php/Balon_Blackskin',
 '/index.php/Balon_Botley',
 '/index.php/Balon_Greyjoy',
 '/index.php/Balon_V_Greyjoy',
 '/index.php/Balon_Swann',
 '/index.php/Balon_Tawney',
 '/index.php/Bambarro_Bazanne',
 '/index.php/Bandy',
 '/index.php/Bannen',
 '/index.php/Barba_Bolton',
 '/index.php/Barba_Bracken',
 '/index.php/Barbara_Bracken',
 '/index.php/Barbrey_Dustin',
 '/index.php/Barneby',
 '/index.php/Barquen_Peake',
 '/index.php/Barra',
 '/index.php/Barre',
 '/index.php/Barris_Hightower',
 '/index.php/Barristan_Selmy',
 '/index.php/Barron_Durrandon',
 '/index.php/Barsena_Blackhair',
 '/index.php/Barth',
 '/index.php/Barth_(brewer)',
 '/index.php/Barthogan_Stark',
 '/index.php/Bartimos_Celtigar',
 '/index.php/Bartimus',
 '/index.php/Bass',
 '/index.php/Bastard_of_Blackhaven',
 '/index.php/Bastard_of_Harrenhal',
 '/index.php/Bastard%27s_bastard',
 '/index.php/Bathi_Ma_Lo',
 '/index.php/Bayard_Norcross',
 '/index.php/Bean',
 '/index.php/Beans',
 '/index.php/Bearded_woman',
 '/index.php/Beastmaster',
 '/index.php/Beatrice_Butterwell',
 '/index.php/Bearded_Ben',
 '/index.php/Beardless_Dick',
 '/index.php/Becca',
 '/index.php/Becca_the_Baker',
 '/index.php/Beck',
 '/index.php/Bedwyck',
 '/index.php/Belandra',
 '/index.php/Belaquo_Bonebreaker',
 '/index.php/Beldecar',
 '/index.php/Beldon',
 '/index.php/Lord_Belgrave',
 '/index.php/Belicho',
 '/index.php/Belicho_Staegone',
 '/index.php/Belis',
 '/index.php/Bella',
 '/index.php/Bellegere_Otherys',
 '/index.php/Bellegere_Otherys_(Courtesan)',
 '/index.php/Bellena_Hawick',
 '/index.php/Bello',
 '/index.php/Bellenora_Otherys',
 '/index.php/Bellonara_Otherys',
 '/index.php/Belthasar_Bolton',
 '/index.php/Belwas',
 '/index.php/Ben',
 '/index.php/Ben_(Big_Belly)',
 '/index.php/Ben_Beesbury',
 '/index.php/Ben_Blackthumb',
 '/index.php/Ben_Bones',
 '/index.php/Ben_Bushy',
 '/index.php/Ben_Buttercakes',
 '/index.php/Ben_Coldwater',
 '/index.php/Ben_Plumm',
 '/index.php/Bendamure',
 '/index.php/Benedar_Belmore',
 '/index.php/Benedict',
 '/index.php/Benedict_Blackmont',
 '/index.php/Benedict_Broom',
 '/index.php/Benedict_I_Justman',
 '/index.php/Benedict_II_Justman',
 '/index.php/Benedict_Royce',
 '/index.php/Benerro',
 '/index.php/Benethon_Scales',
 '/index.php/Benfred_Tallhart',
 '/index.php/Benfrey_Frey',
 '/index.php/Benifer',
 '/index.php/Benjamin_Avery',
 '/index.php/Benjen_Stark',
 '/index.php/Benjen_Stark_(Bitter)',
 '/index.php/Benjen_Stark_(Sweet)',
 '/index.php/Benjen_Stark_(lord)',
 '/index.php/Benjen_Stark_(son_of_Artos)',
 '/index.php/Benjen_Stark_(son_of_Bennard)',
 '/index.php/Benjicot',
 '/index.php/Benjicot_Branch',
 '/index.php/Benjicot_Blackwood',
 '/index.php/Bennard_Brune',
 '/index.php/Bennard_Stark',
 '/index.php/Bennarion_Botley',
 '/index.php/Bennet',
 '/index.php/Bennifer_Blackwood',
 '/index.php/Bennis',
 '/index.php/Bent-backed_man',
 '/index.php/Benton_Glover',
 '/index.php/Beony_Beesbury',
 '/index.php/Beqqo',
 '/index.php/Beren_Tallhart',
 '/index.php/Berena_Hornwood',
 '/index.php/Berena_Stark',
 '/index.php/Beric_Dondarrion',
 '/index.php/Bernard',
 '/index.php/Black_Bernarr',
 '/index.php/Brown_Bernarr',
 '/index.php/Bernarr_Brune',
 '/index.php/Bernarr_II_Justman',
 '/index.php/Beron_(serjeant)',
 '/index.php/Beron_Stark',
 '/index.php/Beron_Blacktyde',
 '/index.php/Bertram_Beesbury',
 '/index.php/Bertrand_Tyrell',
 '/index.php/Bess_Bracken',
 '/index.php/Bessa_(Hag%27s_Mire)',
 '/index.php/Bessa_(Winterfell)',
 '/index.php/Bessaro_Reyaan',
 '/index.php/Beth_Cassel',
 '/index.php/Betha_Blackwood',
 '/index.php/Blushing_Bethany',
 '/index.php/Bethany_Blackwood',
 '/index.php/Bethany_Bolton',
 '/index.php/Bethany_Bracken',
 '/index.php/Bethany_Fair-Fingers',
 '/index.php/Bethany_Hightower',
 '/index.php/Bethany_Redwyne',
 '/index.php/Bethany_Rosby',
 '/index.php/Betharios_of_Braavos',
 '/index.php/Bhakaz_zo_Loraq',
 '/index.php/Bharbo',
 '/index.php/Big_Boil',
 '/index.php/Lord_Bigglestone',
 '/index.php/Muttering_Bill',
 '/index.php/Old_Bill_Bone',
 '/index.php/Billy_Burley',
 '/index.php/Biter',
 '/index.php/Black_Fist',
 '/index.php/Black_Knife',
 '/index.php/Blackshield',
 '/index.php/Lord_Blacktyde',
 '/index.php/Lord_Blackwood_(Aerys_II)',
 '/index.php/Blane',
 '/index.php/Blind_Lord',
 '/index.php/Blood_(the_butcher)',
 '/index.php/Bloodbeard',
 '/index.php/Bloodstone_Emperor',
 '/index.php/Bluetooth',
 '/index.php/Bobono',
 '/index.php/Bodger',
 '/index.php/Bokkoko',
 '/index.php/Bonifer_Hasty',
 '/index.php/Books',
 '/index.php/Borcas',
 '/index.php/Boremund_Baratheon',
 '/index.php/Boremund_Harlaw',
 '/index.php/Boros_Blount',
 '/index.php/Lord_Borrell_(father_of_Godric)',
 '/index.php/Borroq',
 '/index.php/Borros_Baratheon',
 '/index.php/Bors',
 '/index.php/Bors_the_Breaker',
 '/index.php/Borys_Baratheon',
 '/index.php/Bowen_Marsh',
 '/index.php/Boy',
 '/index.php/Braavosi_daggerman',
 '/index.php/Lady_Bracken',
 '/index.php/Lord_Bracken',
 '/index.php/Lord_Bracken_(father_of_Otho)',
 '/index.php/Lord_Bracken_(Aerys_II)',
 '/index.php/Bradamar_Frey',
 '/index.php/Bramm_of_Blackhull',
 '/index.php/Branda_Stark',
 '/index.php/Brandon_of_the_Bloody_Blade',
 '/index.php/Brandon_Norrey',
 '/index.php/Brandon_Norrey_(son_of_Brandon)',
 '/index.php/Brandon_Snow',
 '/index.php/Brandon_Stark_(Builder)',
 '/index.php/Brandon_Stark_(son_of_Bran_the_Builder)',
 '/index.php/Brandon_Stark_(Breaker)',
 '/index.php/Brandon_Stark_(Shipwright)',
 '/index.php/Brandon_Stark_(Burner)',
 '/index.php/Brandon_Stark_(Ice_Eyes)',
 '/index.php/Brandon_Stark_(Bad)',
 '/index.php/Brandon_IX_Stark',
 '/index.php/Brandon_Stark_(the_Boisterous)',
 '/index.php/Brandon_Stark_(the_daughterless)',
 '/index.php/Brandon_Stark_(father_of_Walton)',
 '/index.php/Brandon_Stark_(son_of_Bennard)',
 '/index.php/Brandon_Stark_(son_of_Cregan)',
 '/index.php/Brandon_Stark_(son_of_Willam)',
 '/index.php/Brandon_Stark_(son_of_Artos)',
 '/index.php/Brandon_Stark',
 '/index.php/Bran_Stark',
 '/index.php/Brandon_Tallhart',
 '/index.php/Branston_Cuy',
 '/index.php/Brass-seller',
 '/index.php/Braxton_Beesbury',
 '/index.php/Brea',
 '/index.php/Brella',
 '/index.php/Brendel_Byrne',
 '/index.php/Brenett',
 '/index.php/Briar',
 '/index.php/Brienne_Tarth',
 '/index.php/Briony',
 '/index.php/Brogg',
 '/index.php/Bronn',
 '/index.php/Brude',
 '/index.php/Brus_Buckler',
 '/index.php/Brusco',
 '/index.php/Big_Brusco',
 '/index.php/Brute',
 '/index.php/Bryan_Frey',
 '/index.php/Bryan_Fossoway',
 '/index.php/Bryan_of_Oldtown',
 '/index.php/Bryce_Caron',
 '/index.php/Bryen',
 '/index.php/Bryen_Caron',
 '/index.php/Bryen_Farring',
 '/index.php/Bryndemere_Tarth',
 '/index.php/Brynden_Blackwood',
 '/index.php/Brynden_Rivers',
 '/index.php/Brynden_Tully',
 '/index.php/Bryndon_Hightower',
 '/index.php/Bu_Gai',
 '/index.php/Lady_Buckler',
 '/index.php/Lord_Buckler',
 '/index.php/Buford_Bulwer',
 '/index.php/Lady_Bulwer%27s_brother',
 '/index.php/Bump',
 '/index.php/Burning_Knight',
 '/index.php/Burton_Crakehall',
 '/index.php/Burton_Humble',
 '/index.php/Butterbumps',
 '/index.php/Butterwell_(Hand_of_the_King)',
 '/index.php/Lord_Butterwell',
 '/index.php/Butts',
 '/index.php/Buu',
 '/index.php/Byam_Flint',
 '/index.php/Byan_Votyris',
 '/index.php/Byren_Flowers',
 '/index.php/Byron_Swann',
 '/index.php/Byron_the_Beautiful',
 '/index.php/Bywin_Strong',
 '/index.php/Cadwyl',
 '/index.php/Cadwyn',
 '/index.php/Lord_Cafferen',
 '/index.php/Caggo',
 '/index.php/Caleotte',
 '/index.php/Calla_Blackfyre',
 '/index.php/Calon',
 '/index.php/Calor',
 '/index.php/Camarron_of_the_Count',
 '/index.php/Cameron_Tarth',
 '/index.php/Canker_Jeyne',
 '/index.php/Canty',
 '/index.php/Captain%27s_sister',
 '/index.php/Captain_of_the_Myraham',
 '/index.php/Captain_of_the_Prince_Aemon',
 '/index.php/Captain_of_the_River_Arrow',
 '/index.php/Captain_of_the_Selaesori_Qhoran',
 '/index.php/Captain_of_the_Wildwind',
 '/index.php/Carellen_Smallwood',
 '/index.php/Carolei_Waynwood',
 '/index.php/Carrot',
 '/index.php/Casper_Straw',
 '/index.php/Casper_Wylde',
 '/index.php/Caspor_Hill',
 '/index.php/Cass',
 '/index.php/Cassana_Estermont',
 '/index.php/Cassander',
 '/index.php/Cassandra_Baratheon',
 '/index.php/Cassella_Vaith',
 '/index.php/Cassella_Staunton',
 '/index.php/Casso_Mogat',
 '/index.php/Caster',
 '/index.php/Castos',
 '/index.php/Lady_Caswell',
 '/index.php/Lord_Caswell',
 '/index.php/Lord_Caswell_(Dance)',
 '/index.php/Catelyn_Bracken',
 '/index.php/Catelyn_Stark',
 '/index.php/Catspaw',
 '/index.php/Cayn',
 '/index.php/Cedra',
 '/index.php/Cedric_Payne',
 '/index.php/Cedrik_Storm',
 '/index.php/Celia_Tully',
 '/index.php/Cellador',
 '/index.php/Cerelle_Lannister_(daughter_of_Tybolt)',
 '/index.php/Cerelle_Lannister_(daughter_of_Jason)',
 '/index.php/Cerenna_Lannister',
 '/index.php/Cerion_Lannister',
 '/index.php/Cerissa_Brax',
 '/index.php/Cerrick',
 '/index.php/Cersei_Frey',
 '/index.php/Cersei_Lannister',
 '/index.php/Ceryse_Hightower',
 '/index.php/Cetheres',
 '/index.php/Chai_Duq',
 '/index.php/Chain',
 '/index.php/Lord_Chambers',
 '/index.php/Charioteer',
 '/index.php/Chatana_Qo',
 '/index.php/Chataya',
 '/index.php/Chayle',
 '/index.php/Cheese_(the_rat-catcher)',
 '/index.php/Chella',
 '/index.php/Chett',
 '/index.php/Cheyk',
 '/index.php/Chezdhar_zo_Rhaezn',
 '/index.php/Chiggen',
 '/index.php/Childer',
 '/index.php/Chiswyck',
 '/index.php/Choq_Choq',
 '/index.php/Chyttering_(father_of_Lucos)',
 '/index.php/Cissy',
 '/index.php/Clarence_Cargyll',
 '/index.php/Clarence_Charlton',
 '/index.php/Clarence_Crabb',
 '/index.php/Clarence_Crabb_(Short)',
 '/index.php/Clarent_Crakehall',
 '/index.php/Clarice_Osgrey',
 '/index.php/Clarisse_Dayne',
 '/index.php/Clayton_Suggs',
 '/index.php/Clegane_(father_of_Gregor_and_Sandor)',
 '/index.php/Clegane_(founder)',
 '/index.php/Clegg',
 '/index.php/Clement',
 '/index.php/Clement_Celtigar',
 '/index.php/Clement_Crabb',
 '/index.php/Clement_Piper',
 '/index.php/Cleoden_I_Durrandon',
 '/index.php/Cleon',
 '/index.php/Cleon_the_Second',
 '/index.php/Cleos_Frey',
 '/index.php/Cletus_Yronwood',
 '/index.php/Cley_Cerwyn',
 '/index.php/Cleyton_Caswell',
 '/index.php/Clifford_Conklyn',
 '/index.php/Clifford_Swann',
 '/index.php/Clubfoot_Karl',
 '/index.php/Clydas',
 '/index.php/Coals',
 '/index.php/Cohollo',
 '/index.php/Coldhands',
 '/index.php/Colemon',
 '/index.php/Colen_of_Greenpools',
 '/index.php/Colin_Florent',
 '/index.php/Collio_Quaynis',
 '/index.php/Colloquo_Votar',
 '/index.php/Colmar_Frey',
 '/index.php/Conn',
 '/index.php/Conwy',
 '/index.php/Coratt',
 '/index.php/Lady_Corbray',
 '/index.php/Lord_Corbray_(father_of_Lyonel)',
 '/index.php/Corenna_Swann',
 '/index.php/Corliss_Penny',
 '/index.php/Corlos',
 '/index.php/Corlys_Velaryon',
 '/index.php/Corlys_Velaryon_(son_of_Daemon)',
 '/index.php/Corsair_king',
 '/index.php/Cortnay_Penrose',
 '/index.php/Corwin_Rogers',
 '/index.php/Corwyn_Corbray',
 '/index.php/Corwyn_Corbray',
 '/index.php/Corwyn_Velaryon',
 '/index.php/Coryanne_Martell',
 '/index.php/Coryanne_Wylde',

In [4]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'}
links_csv = []
for link in tqdm(links):
    url = 'https://awoiaf.westeros.org' + link
    r = requests.get(url, headers = headers)
    if r.status_code == 200:
        links_csv.append({'raw_data': r.text})
    else:
        print('error: ', r.status_code)

100%|█████████████████████████████████████████████████████████████████████████████| 3679/3679 [1:31:01<00:00,  1.48s/it]

In [5]:
df_links = pd.DataFrame(links_csv)
df_links

                                               raw_data
0     <!DOCTYPE html>\n<html class="client-nojs" lan...
1     <!DOCTYPE html>\n<html class="client-nojs" lan...
2     <!DOCTYPE html>\n<html class="client-nojs" lan...
3     <!DOCTYPE html>\n<html class="client-nojs" lan...
4     <!DOCTYPE html>\n<html class="client-nojs" lan...
...                                                 ...
3674  <!DOCTYPE html>\n<html class="client-nojs" lan...
3675  <!DOCTYPE html>\n<html class="client-nojs" lan...
3676  <!DOCTYPE html>\n<html class="client-nojs" lan...
3677  <!DOCTYPE html>\n<html class="client-nojs" lan...
3678  <!DOCTYPE html>\n<html class="client-nojs" lan...

[3679 rows x 1 columns]

In [6]:
df_links.to_parquet('links.parquet')

### Surname dataset

In [7]:
import os
import time
from tqdm import tqdm
surnames = []
for index, row in tqdm(df_links.iterrows()):
    html = row['raw_data']
    soup = BeautifulSoup(html)
    firstName = soup.find_all('h1', class_='firstHeading page-header')[0].span.text
    infobox = soup.find_all('table', class_ = 'infobox')
    names = [] 
    if infobox:
        list = infobox[0].find_all('tr')                   
        for elem in list:
            if elem.th:
                if elem.th.text == 'Aliases':
                    list = elem.find_all('li')
                    for name in list:
                        surname = re.findall(r'^(?:\d+,\d+)?[^[]+',name.text)
                        names.append(surname[0])
                        
                    break
                if elem.th.text == 'Alias': 
                    name = elem.td.text
                    surname = re.findall(r'^(?:\d+,\d+)?[^[]+',name)
                    names.append(surname[0])
                        
                    break
    surnames.append({'name': firstName, 'surname': names})

3679it [01:18, 46.80it/s]

In [8]:
df_surname = pd.DataFrame(surnames)
df_surname

                     name                                            surname
0           A certain man                                                 []
1        Abelar Hightower                                                 []
2                  Abelon                                                 []
3     Addam of Duskendale                            [\nAddam of Duskendale]
4              Addam Frey                                                 []
...                   ...                                                ...
3674      Zharaq zo Loraq                                  [\nThe Liberator]
3675                 Zhea  [Zhea the Barren, Zhea Zorseface, Zhea the Cruel]
3676       Zhoe Blanetree                                                 []
3677             Zia Frey                                                 []
3678                Zollo                                  [\nZollo the Fat]

[3679 rows x 2 columns]

In [45]:
count = Counter(df_surname.name.values)
most_occurences = count.most_common()
repeat = []
for element, occurrences in most_occurences:
    if occurrences > 1:
        repeat.append(element)

In [46]:
repeat

['Beardless Dick',
 'Canker Jeyne',
 'Clubfoot Karl',
 'Corwyn Corbray',
 'Fearless Ithoke',
 'List of characters created for Game of Thrones',
 'High Septon (stonemason)',
 'Jack Bulwer',
 'Lord of Bones',
 'Paxter Redwyne',
 'Poxy Tym',
 'Red Rolfe',
 'Robyn Rhysling']

In [50]:
for elem in repeat:
    df_surname = df_surname.drop(index=df_surname[df_surname.name == elem].index[1])

In [52]:
df_surname.to_parquet('surnames.parquet')

In [53]:
test = pd.read_parquet('surnames.parquet')
test

                     name                                            surname
0           A certain man                                                 []
1        Abelar Hightower                                                 []
2                  Abelon                                                 []
3     Addam of Duskendale                            [\nAddam of Duskendale]
4              Addam Frey                                                 []
...                   ...                                                ...
3674      Zharaq zo Loraq                                  [\nThe Liberator]
3675                 Zhea  [Zhea the Barren, Zhea Zorseface, Zhea the Cruel]
3676       Zhoe Blanetree                                                 []
3677             Zia Frey                                                 []
3678                Zollo                                  [\nZollo the Fat]

[3666 rows x 2 columns]

### Books dataset

In [13]:
import os
import time
from tqdm import tqdm
books = []

for index, row in tqdm(df_links.iterrows()):
    html = row['raw_data']
    soup = BeautifulSoup(html)
    firstName = soup.find_all('h1', class_='firstHeading page-header')[0].span.text
    infobox = soup.find_all('table', class_ = 'infobox')
    books_appearance = []
    books_mentioned = []
    books_POV = []
    if infobox:
        list = infobox[0].find_all('tr')                   
        for elem in list:
            if elem.th: # appears, mentioned, POV
                if elem.th.text == 'Books':
                    list = elem.find_all('li')
                    for book in list:
                        if 'mentioned' in book.text:
                            books_mentioned.append(book.a.text)

                        if 'appears' in book.text:
                            books_appearance.append(book.a.text)

                        if 'POV' in book.text:
                            books_POV.append(book.a.text)
                        
                    break
                if elem.th.text == 'Book': 
                    if 'mentioned' in elem.td.text:
                            books_mentioned.append(elem.a.text)

                    if 'appears' in elem.td.text:
                        books_appearance.append(elem.a.text)

                    if 'POV' in elem.td.text:
                        books_POV.append(elem.a.text)
                        
                    break
    books.append({'name': firstName, 'books_mentioned': books_mentioned, 'books_appearance': books_appearance, 'books_POV': books_POV})

3679it [01:26, 42.55it/s]

In [16]:
df_books = pd.DataFrame(books)
df_books

,name,books_mentioned,books_appearance,books_POV
0,A certain man,[A Clash of Kings],[],[]
1,Abelar Hightower,[],[The Hedge Knight],[]
2,Abelon,[Fire and Blood],[],[]
3,Addam of Duskendale,[The World of Ice & Fire],[],[]
4,Addam Frey,[],[The Mystery Knight],[]
...,...,...,...,...
3674,Zharaq zo Loraq,[A Dance with Dragons],[],[]
3675,Zhea,[The World of Ice & Fire],[],[]
3676,Zhoe Blanetree,[],[],[]
3677,Zia Frey,[],[],[]
3678,Zollo,[A Feast for Crows],[A Storm of Swords],[]

In [54]:
count = Counter(df_books.name.values)
most_occurences = count.most_common()
repeat = []
for element, occurrences in most_occurences:
    if occurrences > 1:
        repeat.append(element)

In [57]:
for elem in repeat:
    df_books = df_books.drop(index=df_books[df_books.name == elem].index[1])

In [59]:
df_books.to_parquet('books.parquet')

### Text length, rank & infobox name dataset

In [18]:
infos = []

for index, row in tqdm(df_links.iterrows()):
    html = row['raw_data']
    soup = BeautifulSoup(html)
    firstName = soup.find_all('h1', class_='firstHeading page-header')[0].span.text
    infobox = soup.find_all('table', class_ = 'infobox')
    text_container = soup.find_all('div', class_= 'mw-parser-output')
    
    # find text length
    texts = text_container[0].find_all("p")
    text = "".join(i.text for i in texts)
    text = re.sub(r"\[\d+\]", "", text)
    text_len = len(text)


    #find rank
    page_rank = 0
    a_list = soup.find_all('a')
    for a in a_list:
        if a.get('href') in links:
           page_rank += 1 

    # find infobox name
    if infobox:
        table = infobox[0].find_all('table')
        if table:
            td = table[0].find_all('td')
            span = td[1].find("span")
            if span:
                tmp = span.text.strip()
                span.decompose()
                infobox_name = tmp + " " + td[1].text
            else:
                infobox_name = td[1].text
        else:
            infobox_name = infobox[0].find_all('th')[0].text
    else:
        infobox_name = ''
    # Create the dictionnary
    infos.append({'name': firstName, 'infobox_name': infobox_name, 'text_length': text_len, 'rank': page_rank})

3679it [01:42, 35.72it/s]

In [19]:
df_infos = pd.DataFrame(infos)
df_infos

                     name          infobox_name  text_length  rank
0           A certain man         A certain man         1254     3
1        Abelar Hightower  Ser Abelar Hightower          508     3
2                  Abelon    Archmaester Abelon          102     0
3     Addam of Duskendale   Addam of Duskendale          175     0
4              Addam Frey        Ser Addam Frey          586    14
...                   ...                   ...          ...   ...
3674      Zharaq zo Loraq       Zharaq zo Loraq          109     1
3675                 Zhea                  Zhea         1110     1
3676       Zhoe Blanetree        Zhoe Blanetree          269    21
3677             Zia Frey              Zia Frey           64    16
3678                Zollo         the Fat Zollo         1035     7

[3679 rows x 4 columns]

In [60]:
count = Counter(df_infos.name.values)
most_occurences = count.most_common()
repeat = []
for element, occurrences in most_occurences:
    if occurrences > 1:
        repeat.append(element)

In [61]:
for elem in repeat:
    df_infos = df_infos.drop(index=df_infos[df_infos.name == elem].index[1])

In [62]:
df_infos.to_parquet('infos.parquet')

### Join all datasets

In [63]:
surnames = pd.read_parquet('surnames.parquet')
books = pd.read_parquet('books.parquet')
infos = pd.read_parquet('infos.parquet')

In [64]:
surnames

                     name                                            surname
0           A certain man                                                 []
1        Abelar Hightower                                                 []
2                  Abelon                                                 []
3     Addam of Duskendale                            [\nAddam of Duskendale]
4              Addam Frey                                                 []
...                   ...                                                ...
3674      Zharaq zo Loraq                                  [\nThe Liberator]
3675                 Zhea  [Zhea the Barren, Zhea Zorseface, Zhea the Cruel]
3676       Zhoe Blanetree                                                 []
3677             Zia Frey                                                 []
3678                Zollo                                  [\nZollo the Fat]

[3666 rows x 2 columns]

In [65]:
books

,name,books_mentioned,books_appearance,books_POV
0,A certain man,[A Clash of Kings],[],[]
1,Abelar Hightower,[],[The Hedge Knight],[]
2,Abelon,[Fire and Blood],[],[]
3,Addam of Duskendale,[The World of Ice & Fire],[],[]
4,Addam Frey,[],[The Mystery Knight],[]
...,...,...,...,...
3674,Zharaq zo Loraq,[A Dance with Dragons],[],[]
3675,Zhea,[The World of Ice & Fire],[],[]
3676,Zhoe Blanetree,[],[],[]
3677,Zia Frey,[],[],[]
3678,Zollo,[A Feast for Crows],[A Storm of Swords],[]

In [66]:
infos

                     name          infobox_name  text_length  rank
0           A certain man         A certain man         1254     3
1        Abelar Hightower  Ser Abelar Hightower          508     3
2                  Abelon    Archmaester Abelon          102     0
3     Addam of Duskendale   Addam of Duskendale          175     0
4              Addam Frey        Ser Addam Frey          586    14
...                   ...                   ...          ...   ...
3674      Zharaq zo Loraq       Zharaq zo Loraq          109     1
3675                 Zhea                  Zhea         1110     1
3676       Zhoe Blanetree        Zhoe Blanetree          269    21
3677             Zia Frey              Zia Frey           64    16
3678                Zollo         the Fat Zollo         1035     7

[3666 rows x 4 columns]

In [70]:
df1 = pd.merge(surnames,infos)
df1

,name,surname,infobox_name,text_length,rank
0,A certain man,[],A certain man,1254,3
1,Abelar Hightower,[],Ser Abelar Hightower,508,3
2,Abelon,[],Archmaester Abelon,102,0
3,Addam of Duskendale,[\nAddam of Duskendale],Addam of Duskendale,175,0
4,Addam Frey,[],Ser Addam Frey,586,14
...,...,...,...,...,...
3661,Zharaq zo Loraq,[\nThe Liberator],Zharaq zo Loraq,109,1
3662,Zhea,"[Zhea the Barren, Zhea Zorseface, Zhea the Cruel]",Zhea,1110,1
3663,Zhoe Blanetree,[],Zhoe Blanetree,269,21
3664,Zia Frey,[],Zia Frey,64,16
3665,Zollo,[\nZollo the Fat],the Fat Zollo,1035,7

In [72]:
df2 = pd.merge(df1,books)
df2

,name,surname,infobox_name,text_length,rank,books_mentioned,books_appearance,books_POV
0,A certain man,[],A certain man,1254,3,[A Clash of Kings],[],[]
1,Abelar Hightower,[],Ser Abelar Hightower,508,3,[],[The Hedge Knight],[]
2,Abelon,[],Archmaester Abelon,102,0,[Fire and Blood],[],[]
3,Addam of Duskendale,[\nAddam of Duskendale],Addam of Duskendale,175,0,[The World of Ice & Fire],[],[]
4,Addam Frey,[],Ser Addam Frey,586,14,[],[The Mystery Knight],[]
...,...,...,...,...,...,...,...,...
3661,Zharaq zo Loraq,[\nThe Liberator],Zharaq zo Loraq,109,1,[A Dance with Dragons],[],[]
3662,Zhea,"[Zhea the Barren, Zhea Zorseface, Zhea the Cruel]",Zhea,1110,1,[The World of Ice & Fire],[],[]
3663,Zhoe Blanetree,[],Zhoe Blanetree,269,21,[],[],[]
3664,Zia Frey,[],Zia Frey,64,16,[],[],[]
3665,Zollo,[\nZollo the Fat],the Fat Zollo,1035,7,[A Feast for Crows],[A Storm of Swords],[]

In [73]:
df2.to_parquet('pages.parquet')

In [74]:
pd.read_parquet('pages.parquet')

,name,surname,infobox_name,text_length,rank,books_mentioned,books_appearance,books_POV
0,A certain man,[],A certain man,1254,3,[A Clash of Kings],[],[]
1,Abelar Hightower,[],Ser Abelar Hightower,508,3,[],[The Hedge Knight],[]
2,Abelon,[],Archmaester Abelon,102,0,[Fire and Blood],[],[]
3,Addam of Duskendale,[\nAddam of Duskendale],Addam of Duskendale,175,0,[The World of Ice & Fire],[],[]
4,Addam Frey,[],Ser Addam Frey,586,14,[],[The Mystery Knight],[]
...,...,...,...,...,...,...,...,...
3661,Zharaq zo Loraq,[\nThe Liberator],Zharaq zo Loraq,109,1,[A Dance with Dragons],[],[]
3662,Zhea,"[Zhea the Barren, Zhea Zorseface, Zhea the Cruel]",Zhea,1110,1,[The World of Ice & Fire],[],[]
3663,Zhoe Blanetree,[],Zhoe Blanetree,269,21,[],[],[]
3664,Zia Frey,[],Zia Frey,64,16,[],[],[]
3665,Zollo,[\nZollo the Fat],the Fat Zollo,1035,7,[A Feast for Crows],[A Storm of Swords],[]